= simple_form_for(@employee) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :marital_status
    = f.input :habits
    = f.association :restaurant

  .form-actions
    = f.button :submit
