%h1 Listing orders

%table
  %tr
    %th Number
    %th Description
    %th Confirmed
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.number
      %td= order.description
      %td= order.confirmed
      %td= link_to 'Accept', accept_order_path(order), remote: true, method: :post
      %td= link_to 'Decline', decline_order_path(order), :confirm => "Declined order will be deleted. Continue?", remote: true, method: :delete
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete

%br

%p= link_to 'New Order', new_order_path
%p= link_to 'Home', root_path
