%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Address:
  = @restaurant.address
%p
  %b Employees:
%ul
  - @employees.each do |employee|
    %li= link_to employee.name, employee

= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
